* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*========  Colors  ========*/
/*========  Fonts  ========*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #3d4454;
}

h1 {
  font-size: 45.304px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 17.30532px;
}

h4 {
  font-size: 17.30532px;
}

h5 {
  font-size: 10.6955px;
}

h6 {
  font-size: 10.6955px;
}

p, a {
  font-size: 17.30532px;
}

a {
  text-decoration: none;
  color: #9aa5b8;
}

body {
  background-color: white;
  color: #3d4454;
  font-family: 'Vollkorn', serif;
}

.errors {
  color: #ff5452;
}

.container {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 57.35098%;
  padding: 2.35765%;
}
.container:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .container {
    display: block;
    float: left;
    margin-right: 3.57866%;
    width: 74.10533%;
    margin-left: 12.94733%;
  }
  .container:last-child {
    margin-right: 0;
  }
}

.nav {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 8.5298%;
}
.nav:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .nav {
    display: block;
    float: left;
    margin-right: 3.57866%;
    width: 74.10533%;
    margin-left: 12.94733%;
  }
  .nav:last-child {
    margin-right: 0;
  }
}

.photo {
  padding: 2.35765%;
}

img {
  width: 100%;
}

/*========  Forms  ========*/
input {
  width: 100%;
}

input[type='submit'] {
  border: 0;
  background: #3d4454;
  color: white;
}
