* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%;
  background-color: red; }
  .container:last-child {
    margin-right: 0; }
