  <label for="user[name]">Username
    <input type="text" name="user[name]">
  </label>

  <label for="user[password]">Password
    <input type="password" name="user[password]">
  </label>

  <input type="submit" value="Login">
