<form action="/photo_upload" method="POST" enctype="multipart/form-data">
  <label for="photo">Select images 
    <input type="file" name="photo" accept="image/*" required>
  </label>

  <input type="submit" value="Upload">
</form>


<!--   <label for="photo[title]">Title
    <input type="text" name="photo[title]">
  </label>

  <label for="photo[caption]">Caption 
    <input type="text" name="photo[caption]">
  </label>
 -->
