<form action="" method="POST" entype="multipart/form-data">
  <label for="photo[photo]">Select images 
    <input type="file" name="photo[photo]" accept="image/*" required>
  </label>
  
  <label for="photo[title]">Title
    <input type="text" name="photo[title]">
  </label>

  <label for="photo[caption]">Caption 
    <input type="text" name="photo[caption]">
  </label>

  <input type="submit" value="Upload">
</form>
