<form id='photo_upload' action="/photo_upload" method="POST" enctype="multipart/form-data">
  <label for="photo">Select images 
    <input type="file" name="photo" accept="image/*" required>
  </label>

  <input type="submit" value="Upload">
</form>
