  <label for="user[first_name]">First Name
    <input type="text" name="user[first_name]">
  </label>

  <label for="user[last_name]">Last Name
    <input type="text" name="user[last_name]">
  </label>

  <label for="user[username]">Username
    <input type="text" name="user[username]">
  </label>

  <label for="user[email]">Email
    <input type="email" name="user[email]">
  </label>

  <label for="user[password]">Password
    <input type="password" name="user[password]">
  </label>

  <input type="submit" value="Sign Up">
